<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.1/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="tests/bootstrap.php"
         failOnRisky="true"
         failOnWarning="true"
>
    <php>
        <ini name="date.timezone" value="UTC"/>
        <ini name="memory_limit" value="-1" />
    </php>

    <testsuites>
        <testsuite name="Zenaton PHP Library Test Suite">
            <directory>./tests/Zenaton</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">./src/Zenaton/</directory>
        </whitelist>
    </filter>
</phpunit>
